@import '../../../../styles/utils';

// .bannerSlider {
//   @include flex-content(space-between);
//   position: relative;
//   gap: 16px;
//   height: 432px;
//   width: 1136px;
//   padding-bottom: 32px;

//   @include onMedium {
//     width: 100%;
//     max-height: 432px;
//     height: 100%;
//     gap: 19px;
//   }

//   @include onSmall {
//     width: 100vw;
//     margin-left: -16px;

//   }

//   & button {
//     border: 1px solid $iconsColor;
//     height: 100%;

//     @include onSmall {
//       display: none;
//     }
//   }

//   &-leftButton {

//     & img {
//       transform: rotate(-90deg);
//     }
//   }

//   &-banners {
//     width: 100%;
//     max-height: 400px;
//     height: 100%;
//     display: flex;
//     overflow: hidden;

//     @include onSmall {
//       width: 100%;
//       height: 320px;
//     }

//     &-banner {
//       transition: 1.25s;
//       min-width: 100%;

//       @include onMedium {
//         object-fit: cover;
//       }
//     }

//     &-banner:first-child {
//       @include onSmall {
//         object-position: right;
//       }
//     }
//   }

//   &-rightButton {

//     & img {
//       transform: rotate(90deg);
//     }
//   }

//   & .sliderDots {
//     position: absolute;
//     bottom: 0;
//     left: 47%;
//     gap: 14px;
//     @include flex-content(space-between);

//     @include onMedium {
//       left: 43%;
//     }

//     @include onSmall {
//       left: 33%;
//     }

//     &-dotBox {
//       width: 24px;
//       height: 24px;
//       width: 100%;
//       cursor: pointer;
//       display: flex;
//     }

//     &-dot {
//       align-self: center;
//       width: 14px;
//       height: 4px;
//       background-color: $elementsColor;

//       &-active {
//         background-color: $primaryColor;
//       }
//     }
//   }

// }

.bannerSlider {
  width: 100%;
  max-width: 1136px;
  display: flex;
  gap: 16px;
  height: 100%;
  max-height: 400px;

  @include onSmall {
    width: 100vw;
    margin-left: -16px;
    min-height: 320px;
  }

  & button {
    border: 1px solid $iconsColor;
    min-width: 32px;

    @include onSmall {
      display: none;
    }
  }

  &-banners {
    display: flex;
    overflow: hidden;

    &-banner {
      transition: 1.25s;
      min-width: 100%;
      height: 100%;

      img {
        object-fit: contain;
        height: 100%;
        width: 100%;
      }

      &-1 {
        background-color: black;
      }

      &-2 {
        background-color: #8e7054;
      }

      &-3 {
        background-color: #c07115;
      }
    }
  }


}

.sliderDots {
  @include flex-content(space-between);
  gap: 14px;
  margin-top: 8px;
  align-self: center;

  &-dotBox {
    width: 24px;
    height: 24px;
    width: 100%;
    display: flex;
    cursor: pointer;
  }

  &-dot {
    align-self: center;
    width: 14px;
    height: 4px;
    background-color: $elementsColor;

    &-active {
      background-color: $primaryColor;
    }
  }
}