@use './utils/variables' as variables;

html {
  box-sizing: border-box;
  color: variables.$primaryColor;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
li,
p,
pre,
blockquote,
figure,
hr {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;

  &:active {
    color: inherit;
  }
}

select option {
  background-color: transparent;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  padding: 0;
}

select option:hover {
  background-color: transparent;
  outline: none;
}

button {
  border-radius: 0;
  padding: 0.5em;
  background-color: transparent;
  border: 1px solid variables.$elementsColor;
  cursor: pointer;

  &:hover {
    border: 1px solid variables.$primaryColor;
  }

  &:disabled {
    border: 1px solid variables.$elementsColor;
  }

  & img {
    margin: auto;
  }
}

img {
  display: block;
  max-width: 100%;
}

.imageLink {
  cursor: pointer;
  transition: all 0.3s ease;

  &:hover {
    scale: 110%;
  }
}

.rightArrow {
  transform: rotate(90deg);
}

.leftArrow {
  transform: rotate(-90deg);
}

.downArrow {
  transform: rotate(180deg);
}