@import '../../../../styles/utils';

.products-slider {
  width: 100%;
  max-width: 1136px;

  .titleArrows {
    @include flex-content(space-between);
    margin-bottom: 24px;

    &-title {
      flex-basis: 50%
    }

    &-arrows {
      @include flex-content(space-between);
      gap: 16px;
    }
  }

  .cardsBox {
    display: flex;
    gap: 16px;
    overflow: hidden;
    height: 506px;
    width: 100%;

    @include onSmall {
      height: 440px
    }
  }
}