@mixin flex-content($position: flex-start, $direction: row) {
  display: flex;
  flex-direction: $direction;
  align-items: center;
  justify-content: $position;
}

@mixin onSmall {
  @media (max-width:640px) {
    @content;
  }
}

@mixin onMedium {
  @media (max-width:1200px) {
    @content;
  }
}
