@mixin flex-content($position: flex-start, $direction: row, $alignment: center) {
  display: flex;
  flex-direction: $direction;
  align-items: $alignment;
  justify-content: $position;
}

// phone layout
@mixin onSmall {
  @media (max-width:639px) {
    @content;
  }
}

// tablet layout 
@mixin onMedium {
  @media (max-width:1199px) {
    @content;
  }
}

// desktop layout
@mixin onLarge {
  @media (max-width:1200px) {
    @content;
  }
}

// big screens
@mixin onXLarge {
  @media (max-width:1440px) {
    @content;
  }
}

@mixin rotate-infinite($duration: 1s) {
  @keyframes rotate-infinite {
    from {
      transform: rotate(0deg);
    }

    to {
      transform: rotate(360deg);
    }
  }

  animation: rotate-infinite $duration infinite linear;
}