@import '../../styles/utils';

.products-slider {
  margin-top: 80px;
  width: 100%;

  @include onMedium {
    margin-top: 64px;
  }

  @include onSmall {
    margin-top: 56px;
  }

  .titleArrows {
    @include flex-content(space-between);
    margin-bottom: 24px;

    &-arrows {
      @include flex-content(space-between);
      gap: 16px;
    }
  }

  .leftArrow {
    transform: rotate(-90deg);
  }

  .rightArrow {
    transform: rotate(90deg);
  }

  .cardsBox {
    display: flex;
    gap: 16px;
    overflow: hidden;
    height: 506px;
    width: 100%;

    @include onMedium {
      height: 512px
    }

    @include onSmall {
      height: 438px
    }

    &-card {
      @include flex-content(flex-start, column, flex-start);
      gap: 8px;
      min-width: 272px;
      height: 100%;
      padding: 32px;
      border: 1px solid $elementsColor;

      @include onMedium {
        min-width: 238px;
      }

      @include onSmall {
        min-width: 212px;
      }

      &-img {
        flex-grow: 1;
        height: 200px;
        align-self: center;

        @include onSmall {
          height: 130px;
        }
      }

      &-title {
        font-weight: 500;
        font-size: 14px;
        line-height: 21px;
        align-self: stretch;
      }

      &-priceBox {
        @include flex-content();
        gap: 8px;

        &-price {
          line-height: 140%;
        }

        &-oldPrice {
          font-weight: 600;
          font-size: 22px;
          line-height: 28px;
          text-decoration-line: line-through;
          color: $secondaryColor;
        }
      }


      &-divider {
        border-top: 1px solid $elementsColor;
        align-self: stretch;
      }

      &-specsBox {
        @include flex-content(flex-start, column);
        align-self: stretch;
        padding: 8px 0;
        gap: 8px;

        &-spec {
          align-self: stretch;
          @include flex-content(space-between);
          @include smallText;

          &-title {
            color: $secondaryColor;
          }

          &-value {
            color: $primaryColor;
          }
        }
      }

      &-buttons {
        @include flex-content(center);
        gap: 8px;
        align-self: stretch;
        min-height: 40px;

        &-addToCart {
          background-color: $primaryColor;
          flex-grow: 1;
          padding: 0;
          height: 100%;
          color: white;
        }

        &-like {
          width: 40px;
          height: 100%;
          line-height: 21px;
          text-align: center;
        }
      }

    }
  }
}
