@import "../../styles/utils";

.header {
  @include flex-content;
  box-shadow: 0px 1px 0px $elementsColor;
  min-height: 64px;

  @include onMedium {
    min-height: 48px;
  }

  @include onSmall {
    justify-content: space-between;
    min-height: 48px;
  }

  &-logoBox {
    padding: 0px 24px;
    margin-right: 24px;

    @include onMedium {
      padding: 0 16px;
      margin-right: 16px;
    }

    &-logo {
      @include onMedium {
        height: 22px;
        width: 64px;
      }
    }
  }

  &-menu {
    @include flex-content;
    align-self: stretch;
    width: 100%;
    gap: 24px;
    font-size: 12px;
    line-height: 11px;
    transition: transform 0.5s;

    @include onMedium {
      gap: 16px;
    }

    @include onSmall {
      @include flex-content(space-between, column);
      position: fixed;
      left: 0;
      top: 49px;
      height: calc(100vh - 48px);
      transform: translateX(100%);
    }

    &-active {
      @include flex-content(space-between, column);
      position: fixed;
      top: 49px;
      left: 0;
      height: calc(100% - 53px);
      background-color: white;
      z-index: 2;
      transform: translateX(0);
    }

    &-leftItems {
      display: flex;
      align-self: stretch;
      gap: 64px;

      @include onMedium {
        gap: 32px;
      }

      @include onSmall {
        @include flex-content(flex-start, column);
        padding: 0px;
        gap: 16px;
        margin-top: 24px;
        flex-grow: 1;
      }

      &-item {
        @include flex-content(center, column);
        align-self: stretch;
        padding: 8px 0;
        color: $secondaryColor;

        &:hover {
          color: $primaryColor;
          border-bottom: 3px solid $primaryColor;
        }

        @include onSmall {
          align-self: auto;
        }
      }
    }

    &-buttonsRight {
      @include flex-content(flex-end);
      flex-grow: 1;
      align-self: stretch;

      @include onSmall {
        @include flex-content(space-between);
        width: 100%;
        border: 1px solid $elementsColor;
        max-height: 64px;
        min-height: 64px;
      }

      &-searchBarItem {
        width: 327px;
        margin-left: -40px;
      }

      &-item {
        @include flex-content(center);
        width: 64px;
        height: 100%;
        border-left: 1px solid #e2e6e9;

        &:hover {
          border-bottom: 3px solid $primaryColor;
        }

        @include onMedium {
          width: 48px;
        }

        @include onSmall {
          @include flex-content(center);
          height: 100%;
          flex-grow: 1;
          border: 1px solid $elementsColor;
          width: 100%;
        }
      }
    }
  }

  &-phone {
    display: none;

    @include onSmall {
      @include flex-content(center);
      width: 48px;
      height: 100%;
      border-bottom: transparent;
    }
  }
}

.phoneMenu {
  transform: translate(100vh);
  visibility: hidden;
}

.active {
  border-bottom: 3px solid $primaryColor;
  color: $primaryColor;
}

.activeMenu {
  transition: transform 0.5s;
  transform: rotate(-180deg);
}

.normalMenu {
  transition: transform 1.5s;
  transform: rotate(180deg);
}

.footerBox {
  margin-top: auto;
}

.icon {
  position: relative;
  text-align: center;

  &-iconCounter {
    position: absolute;
    width: 14px;
    height: 14px;
    top: -7px;
    right: -7px;
    z-index: 2;
    background-color: #eb5757;
    border-radius: 50%;
    border: 1px solid white;
    font-size: 9px;
    font-weight: 700;
    line-height: 12px;
    color: white;
  }
}
