@import '../../styles/utils';

.header {
  @include flex-content;
  gap: 24px;
  font-size: 12px;
  line-height: 11px;
  box-shadow: 0px 1px 0px $elementsColor;
  height: 64px;

  @include onMedium {
    gap: 16px;
    height: 48px;
  }

  &-logoBox {
    @include flex-content;
    padding: 0px 24px;
    flex: none;
    order: 1;
    align-self: stretch;

    @include onMedium {
      padding: 0 16px;
    }

    &-logo {

      @include onMedium {
        height: 22px;
        width: 64px;
      }
    }
  }

  &-menuItems {
    display: flex;
    gap: 64px;
    flex: none;
    order: 1;
    align-self: stretch;

    @include onMedium {
      gap: 32px
    }

    @include onSmall {
      display: none;
    }

    &-item {
      @include flex-content(center, column);
      text-transform: uppercase;
      padding: 8px 0px;
      gap: 8px;
      color: $secondaryColor;
      font-weight: 800;
      letter-spacing: 0.04em;

      &:hover {
        color: $primaryColor;
      }
    }
  }

  &-buttonsRight {
    @include flex-content(flex-end);
    flex: none;
    order: 2;
    flex-grow: 1;
    align-self: stretch;

    &-item {
      @include flex-content(center);
      width: 64px;
      height: 100%;
      border-left: 1px solid #E2E6E9;

      &:hover {
        border: 1px solid $primaryColor;
      }

      @include onMedium {
        width: 48px
      }

      @include onSmall {
        display: none;
      }
    }

    &-phone {

      display: none;

      @include onSmall {
        display: flex;
      }
    }
  }
}

.active {
  border-bottom: 3px solid $primaryColor;
  color: $primaryColor;
}

.activeMenu {
  transition: transform 1.5s;
  transform: rotate(180deg);
}

.normalMenu {
  transition: transform 1.5s;
  transform: rotate(-180deg);
}
