@import '../../styles/utils';

.header {
  box-shadow: 0px 1px 0px $elementsColor;
  min-height: 64px;

  @include flex-content;

  @include onMedium {
    min-height: 48px;
  }

  @include onSmall {
    justify-content: space-between;
    min-height: 48px;
  }

  &-logoBox {
    padding: 0px 24px;
    margin-right: 24px;

    @include onMedium {
      padding: 0 16px;
      margin-right: 16px;
    }

    &-logo {

      @include onMedium {
        height: 22px;
        width: 64px;
      }
    }
  }

  &-menu {
    @include flex-content;
    align-self: stretch;
    width: 100%;
    gap: 24px;
    font-size: 12px;
    line-height: 11px;

    @include onMedium {
      gap: 16px
    }

    @include onSmall {
      position: fixed;
      top: 49px;
      left: 0;
      height: calc(100vh - 48px);
      background-color: white;
      z-index: 2;
      @include flex-content(space-between, column);
      transition: transform 0.5s;
    }


    &-leftItems {
      display: flex;
      align-self: stretch;
      gap: 64px;

      @include onMedium {
        gap: 32px
      }

      @include onSmall {
        align-self: normal;
        @include flex-content(center, column);
        padding: 0px;
        gap: 16px;
        margin-top: 24px;

      }

      &-item {
        @include flex-content(center, column);
        align-self: stretch;
        padding: 8px 0;
        color: $secondaryColor;
        @include UPPERCASE;

        &:hover {
          color: $primaryColor;
          border-bottom: 3px solid $primaryColor;
        }

        @include onSmall {
          align-self: auto;
        }
      }
    }

    &-buttonsRight {
      @include flex-content(flex-end);
      flex-grow: 1;
      align-self: stretch;


      &-item {
        @include flex-content(center);
        width: 64px;
        height: 100%;
        border-left: 1px solid #E2E6E9;

        &:hover {
          border-bottom: 3px solid $primaryColor;
        }

        @include onMedium {
          width: 48px
        }

        @include onSmall {
          height: 100%;
          flex-grow: 1;
          @include flex-content(center);
          border: 1px solid $elementsColor;
          width: 100%
        }
      }

      @include onSmall {
        @include flex-content(space-between);
        width: 100%;
        border: 1px solid $elementsColor;
        height: 64px;
        flex-grow: 0;
      }
    }
  }

  &-phone {
    display: none;

    @include onSmall {
      @include flex-content(center);
      width: 48px;
      height: 100%;
      border-bottom: transparent;
    }
  }
}

.phoneMenu {
  transform: translate(100vh);
  visibility: hidden;
}

.active {
  border-bottom: 3px solid $primaryColor;
  color: $primaryColor;
}

.activeMenu {
  transition: transform 0.5s;
  transform: rotate(180deg);
}

.normalMenu {
  transition: transform 1.5s;
  transform: rotate(-180deg);
}
