@import "./styles/utils";

.container {
  padding: 40px 152px 80px 152px;

  @include onXLarge {
    padding: 40px 32px 80px 32px;
  }

  @include onLarge {
    padding: 40px 32px 80px 32px;
  }

  @include onMedium {
    padding: 32px 24px 64px 24px;
  }

  @include onSmall {
    padding: 24px 16px 64px 16px;
  }
}
